@model Events.Web.Models.EventDetailsViewModel
           
@*description*@
@if (Model.Description != null)
{
    <div class="description">Description: @Model.Description</div>
}

@*comments*@
@if (Model.Comments.Any())
{
    @:Comments:
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                @comment.Text
                @if (@comment.Author != null)
                {
                    @: (by @comment.Author)
                }
            </li>
        }
    </ul>
}
else
{
  <p>No comments</p>
}

@*[Edit] and [Delete] buttons*@
@if (ViewBag.CanEdit)
{
  @Html.ActionLink("Edit", "Edit", "Events", new { id = Model.Id}, 
        new {@class = "btn btn-default"})
    <span></span>
  @Html.ActionLink("Delete", "Delete", "Events", new { id = Model.Id },
        new { @class = "btn btn-default" })

}
